<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11</key>
	<string>到价提醒</string>
	<key>12</key>
	<string>到价提醒</string>
	<key>41</key>
	<string>快速拉升</string>
	<key>42</key>
	<string>火箭发射</string>
	<key>43</key>
	<string>快速下跌</string>
	<key>44</key>
	<string>直线暴跌</string>
	<key>31</key>
	<string>主力大单买入</string>
	<key>32</key>
	<string>主力大单卖出</string>
	<key>111</key>
	<string>KDJ金叉</string>
	<key>112</key>
	<string>KDJ死叉</string>
	<key>113</key>
	<string>MACD金叉</string>
	<key>114</key>
	<string>MACD死叉</string>
	<key>115</key>
	<string>突破上轨</string>
	<key>116</key>
	<string>突破5日均线</string>
	<key>117</key>
	<string>BOLL开头变大</string>
	<key>161</key>
	<string>封板量下降</string>
	<key>162</key>
	<string>涨停打开</string>
	<key>163</key>
	<string>跌停打开</string>
	<key>164</key>
	<string>涨停在即</string>
	<key>165</key>
	<string>跌停在即</string>
	<key>166</key>
	<string>封住涨停</string>
	<key>167</key>
	<string>封住跌停</string>
	<key>51</key>
	<string>定向增发</string>
	<key>52</key>
	<string>高管变动</string>
	<key>53</key>
	<string>股东增减持</string>
	<key>54</key>
	<string>经营数据</string>
	<key>55</key>
	<string>其他重要公告</string>
	<key>56</key>
	<string>限售股解禁</string>
	<key>57</key>
	<string>业绩报告/预告</string>
	<key>58</key>
	<string>重大合同</string>
	<key>59</key>
	<string>资产重组及买卖</string>
	<key>510</key>
	<string>分红派息</string>
</dict>
</plist>
