<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<dict>
		<key>R1</key>
		<string>0xe6514a</string>
		<key>R2</key>
		<string>0xfd796e</string>
		<key>R3</key>
		<string>0xe6190d</string>
		<key>W1</key>
		<string>0xffffff</string>
		<key>B1</key>
		<string>0x3d77c7</string>
		<key>B2</key>
		<string>0xe1f0fa</string>
		<key>B3</key>
		<string>0x233040</string>
		<key>B4</key>
		<string>0x2d3e50</string>
		<key>B5</key>
		<string>0x546a79</string>
		<key>B6</key>
		<string>0xf3f7fc</string>
		<key>B7</key>
		<string>0xcddef4</string>
		<key>B8</key>
		<string>0x5389d2</string>
		<key>B9</key>
		<string>0x99c9ff</string>
		<key>B10</key>
		<string>0x5a9bd1</string>
		<key>B11</key>
		<string>0x82b0eb</string>
		<key>B12</key>
		<string>0xd8e4f4</string>
		<key>B13</key>
		<string>0x3d7dff</string>
		<key>B14</key>
		<string>0x226dd2</string>
		<key>G1</key>
		<string>0x0bb908</string>
		<key>G2</key>
		<string>0x34ba95</string>
		<key>G3</key>
		<string>0x17b449</string>
		<key>Y1</key>
		<string>0xfff5d5</string>
		<key>Y2</key>
		<string>0x65541d</string>
		<key>Y3</key>
		<string>0xf9d10e</string>
		<key>Y4</key>
		<string>0xf5a623</string>
		<key>Y5</key>
		<string>0xcc8b20</string>
		<key>P1</key>
		<string>0xdd60bc</string>
		<key>P2</key>
		<string>0x9f1b7c</string>
		<key>H1</key>
		<string>0xf4f5f9</string>
		<key>H2</key>
		<string>0xe5e5e5</string>
		<key>H3</key>
		<string>0xc7c7c7</string>
		<key>H4</key>
		<string>0xbdbdbd</string>
		<key>H5</key>
		<string>0xa5a5a5</string>
		<key>H6</key>
		<string>0x99a2a1</string>
		<key>H7</key>
		<string>0x7e7e7e</string>
		<key>H8</key>
		<string>0x676767</string>
		<key>H9</key>
		<string>0x404040</string>
		<key>H10</key>
		<string>0x7d848d</string>
		<key>H11</key>
		<string>0x9f9f9f</string>
		<key>H12</key>
		<string>0xf3f3f3</string>
		<key>H13</key>
		<string>0x000000</string>
		<key>H14</key>
		<string>0xf8f8f8</string>
		<key>H15</key>
		<string>0x101319</string>
		<key>H16</key>
		<string>0x14171e</string>
		<key>H17</key>
		<string>0x242832</string>
		<key>H18</key>
		<string>0x3B3A3F</string>
		<key>H19</key>
		<string>0x788394</string>
	</dict>
	<key>Font</key>
	<dict>
		<key>T0</key>
		<string>11</string>
		<key>T1</key>
		<string>12</string>
		<key>T2</key>
		<string>13</string>
		<key>T3</key>
		<string>14</string>
		<key>T4</key>
		<string>15</string>
		<key>T5</key>
		<string>16</string>
		<key>T6</key>
		<string>17</string>
		<key>T7</key>
		<string>18</string>
		<key>T8</key>
		<string>19</string>
		<key>T9</key>
		<string>20</string>
		<key>T10</key>
		<string>21</string>
		<key>T11</key>
		<string>22</string>
		<key>T12</key>
		<string>45</string>
		<key>T13</key>
		<string>9</string>
		<key>T14</key>
		<string>8</string>
		<key>T15</key>
		<string>10</string>
		<key>T16</key>
		<string>37</string>
		<key>T17</key>
		<string>30</string>
		<key>T18</key>
		<string>24</string>
	</dict>
</dict>
</plist>
